body {
    background-color: #fffdef;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141410;
    padding: 1rem 2rem;
    margin: 10px 90px;
    border-radius: 8px;
}

.logo {
    color: #f35c41;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-center {
    display: flex;
    gap: 2rem;
    margin-left: auto;
}

.navbar-center a {
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.fa-globe {
    color: white;
}

.lang-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

#concept {
    margin: 90px;
    padding: 94px 131px;
    background-color: #141410;
    color: #EEEEDD;
    border-radius: 8px;
}

#concept h2 {
    text-transform: uppercase;

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141410;
    color: #f0efdb;
}

footer {
    background-color: #141410;
    color: #f0efdb;
    margin-top: auto;
}

.newsletter {
    padding: 60px;
    width: 100%;
    box-sizing: border-box;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 5%;
    font-size: 48px;
 }

 .fa-facebook-f, .fa-tiktok {
    font-size: 43px;
 }

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-section h1 {
    font-size: 80px;
    margin: 0;
}

.left-section p {
    margin-top: 20px;
    font-size: 25px;
    line-height: 1.5;
}

.right-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
    margin-top: 15px;
}

input[type="email"] {
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    width: 450px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #f0efdb;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #5c5f4a;
}

button:hover {
    background-color: #e8e7d4;
}

.separator {
    margin: 30px 0px 7px 10;
    border: 0.5px solid #ccc;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

.footer-links {
    display: flex;
    gap: 150px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    font-size: 18px;
    margin-left: 90px;
    line-height: 3;
}

.footer-links ul li {
    cursor: pointer;
    transition: color 0.3s ease;
}
 
.footer-links ul li:hover {
    color: #ccc;
}

.beige-box {
    width: 220px;
    height: 280px;
    background-color: #f0efdb;
    margin-left: 40px;
}

.bottom-line {
    width: 100%;
    border: 0.5px solid #ccc;
    margin: 20px 0 15px 0;
}

.copyright {
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    color: #ccc;
}