@font-face {
  font-family: Baloo2;
  src: url('fonts/Baloo2-VariableFont_wght.ttf');
}

@font-face {
  font-family: Fredoka;
  src: url('fonts/Fredoka-VariableFont_wdth,wght.ttf');
}

body {
  background-color: #EEEEDD;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Baloo2;
}

p {
  font-family: fredoka;
}
.overlay-black {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.hero {
  background-color: #141410;
  height: 130vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  width: 800px;
  height: auto;
  position: relative;
  top: -95px; 
}

.gif-kiloshop {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 150px;
  z-index: 1000;
  transition: transform 0.2s ease-out;
}

.logo {
  height: 23px; 
  width: auto; 
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #141410;
  padding: 20px;
  margin-top: 20px;
  margin-left: 90px;
  margin-right: 90px;
  border-radius: 8px;
}
.navbar-center {
  display: flex;
  gap: 2rem;
  margin-left: auto;
}

.navbar-center a {
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 150px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  font-family: Fredoka;
}

.navbar-center a:hover {
  background-color: #AF4C2D;
  color: #141410 !important;
}

.fa-globe {
  color: white;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 150px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.fa-globe:hover {
  background-color: #AF4C2D;
  color: #141410;
}

#concept {
  margin: 90px;
  padding: 80px 100px;
  background-color: #141410;
  color: #EEEEDD;
  border-radius: 8px;
}

#concept p {
  margin-top: 24px;
}

#concept h1 {
  text-transform: uppercase;
  font-size: 80px;
  margin-bottom: 20px;
}

h4, h5, h2 {
  text-transform: uppercase;
  font-size: 80px;
  margin: 90px;
}

h3 {
  font-size: 48px;
  margin: 0;
  margin-top: 0;
}

h6 {
  font-size: 70px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 90px;
}
.steps {
  display: flex;
  justify-content: center;
}


.steps p {
  font-size: 65px;
  display: flex;
  justify-content: center;
}

.cards-container {
  background-color: #141410;
  padding: 100px;
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  border-radius: 8px;
  width: 30%;
  height: 400px;
  gap: 50px;
}

.img1:nth-child(1),
.img3:nth-child(3) {
  transform: translateY(-150px);
  margin-top: -80px;
  height: 400px;
}



.affiche-reduite{
  display: flex;
  gap: 60px;
  width: auto;
  height: 500px;
}

.affiche-reduite img {
  border-radius: 8px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  z-index: 1;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(82, 82, 82, 0.8);
  border-radius: 8px;
}

.col {
  position: sticky;
  top: 0;
  width: 30%;
  border-left: 1px solid black;
  padding: 15px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.col-1 {
  border-left: none;
}

.col-2 {
  margin-top: 15vh;
}

.col-3 {
  margin-top: 30vh;
}

.col img {
  max-height: 500px;
  margin: 15px 0px;
}

.pesez {
  text-align: center;
  font-size: 10px;
  margin-top: -50px;
}

.emportez {
  text-align: center;
  margin-top: -50px;
}

.choisissez{
  margin-top: -50px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-section h6 {
  font-size: 65px;
  margin-left: 90px;
  margin-top: 5px;
}

.left-section p {
  margin-top: 20px;
  margin-left: 90px;
  font-size: 25px;
  line-height: 1.5;
}

.block {
  display: flex;
  gap: 100px;
}

.mascotte-1 {
  height: 25vw;
  background-color: #EEEEDD;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
  animation: balance 3s ease-in-out infinite;
  transform-origin: bottom center;
}

@keyframes balance {
  0% {
      transform: rotate(0deg);
  }
  25% {
      transform: rotate(-10deg);
  }
  50% {
      transform: rotate(10deg);
  }
  75% {
      transform: rotate(-5deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

.marques-logo {
  display: flex;
  gap: 60px;
  width: auto;
  height: 0px;
  padding-left: 90px;
  margin-top: 50px;
  padding-bottom: 700px;
}

.card img {
  opacity: 0;
  transition: opacity 3s ease, transform 3s ease;
  border-radius: 8px;
}

.card img.visible {
  opacity: 1;

}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
  margin-top: 20px;
  margin-right: 90px;
}

input[type="email"] {
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  width: 450px;
  font-family: Baloo2;
}

button {
  width: 120px;
  height: 48px;
  font-size: 20px;
  background-color: #EEEEDD;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  font-family: Baloo2;
  font-weight: 500;
  padding: 0;
}

button:hover {
  background-color: #AF4C2D;
}

footer {
  background-color: #141410;
  color: #EEEEDD;
}

.newsletter {
  padding: 40px;
  width: 100%;
  box-sizing: border-box;
}

.social-icons {
  display: flex;
  justify-content: center;
  color: #EEEEDD;
  gap: 5%;
  font-size: 48px;
}

.social-icons a {
  color: #EEEEDD; 
  text-decoration: none;
}

.social-icons :hover {
  opacity: 90%;
}

.mascotte-footer {
  height: 26vw;
}

.fa-facebook-f,
.fa-tiktok {
  font-size: 43px;
}

.separator {
  margin: 30px 0px 7px 10;
  border: 0.5px solid white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

.footer-links {
  display: flex;
  gap: 150px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  font-size: 24px;
  margin-left: 90px;
  line-height: 3;
  font-family: Baloo2;
}

.footer-links ul li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-links ul li:hover {
  text-decoration: underline;
}

.bottom-line {
  border: 0.5px solid white;
  margin-top: -50px;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: #EEEEDD;
  margin-top: 20px;
}

.slideshow-container {
  max-width: 1400px;
  position: relative;
  margin: auto;
  overflow: hidden;
  width: calc(100% - 130px); 
}

.affiche-reduite {
  display: flex;
  gap: 60px;
  width: 200%; 
  height: 500px;
  padding-left: 90px;
  transition: transform 0.5s ease;
}

.affiche-reduite img {
  width: calc((100% - 300px) / 6); 
  flex-shrink: 0;
}

.marquee {
  overflow: hidden;
  position: relative;
  margin-bottom: 6rem;
}


.marquee-content {
  display: flex;
  animation: scroll 30s linear infinite;
  margin-top: 100px;
  margin-bottom: 100px;
}

.marquee-content img {
  height: 100px;
  margin: 0 4rem;
  filter: grayscale(100%) brightness(1.2);
  transition: transform 0.3s ease;
}

.marquee-content img:hover {
  transform: scale(1.1);
  filter: grayscale(0%) brightness(1.5);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.menu-langue-deroulant {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
}

.liste-langues {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 100;
  min-width: 100px;
  right: 0;
  border-radius: 8px;
  overflow: hidden;
}

.liste-langues a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
}

.liste-langues a:hover {
  background-color: #AF4C2D;
  border-radius: 8px;
}

.menu-langue-deroulant:hover .liste-langues {
  display: block;
}


