@font-face {
  font-family: Baloo2;
  src: url('fonts/Baloo2-VariableFont_wght.ttf');
}

@font-face {
  font-family: Fredoka;
  src: url('fonts/Fredoka-VariableFont_wdth,wght.ttf');
}

body {
  background-color: #EEEEDD;
  margin: 0;
  padding: 0;
}

.menu-burger {
  display: none;
  flex-direction: column;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.3s ease;
  background: transparent;
  border: none;
}

.menu-burger span {
  width: 20px;
  height: 2px;
  background-color: #EEEEDD;
  margin: 2px 0;
  transition: all 0.3s ease;
  border-radius: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Baloo2;
}

p {
  font-family: fredoka;
}

.overlay-black {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
}

.hero-section {
  background-color: #141410;
  height: 130vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section img {
  width: 800px;
  height: auto;
  position: relative;
  top: -95px;
}

.animated-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 150px;
  transition: transform 0.2s ease-out;
}

.logo {
  height: 23px;
  width: auto;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #141410;
  padding: 20px;
  margin-top: 20px;
  margin-left: 90px;
  margin-right: 90px;
  border-radius: 8px;
}

.navbar-center {
  display: flex;
  gap: 2rem;
  margin-left: auto;
  margin-right: 2rem;
}

.navbar-center a {
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 150px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  font-family: Fredoka;
}

.navbar-center a:hover {
  background-color: #AF4C2D;
  color: #141410 !important;
}

.fa-globe {
  color: #EEEEDD;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 150px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.language-dropdown {
  font-family: fredoka;

}

.fa-globe:hover {
  background-color: #AF4C2D;
  color: #141410;
}

#concept {
  margin: 90px;
  padding: 80px 100px;
  background-color: #141410;
  color: #EEEEDD;
  border-radius: 8px;
}

#concept p {
  margin-top: 24px;
}

#concept h1 {
  text-transform: uppercase;
  font-size: 80px;
  margin-bottom: 20px;
}

h4,
h5,
h3 {
  text-transform: uppercase;
  font-size: 80px;
  margin-left: 90px;
}

h2 {
  font-size: 48px;
  margin: 0;
  margin-top: 0;
}

h6 {
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 0;
}

.steps-container {
  display: flex;
  justify-content: center;
}

.steps-container p {
  font-size: 65px;
  display: flex;
  justify-content: center;
}

.cards-container {
  background-color: #141410;
  padding: 100px;
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
}

.card-poster {
  display: flex;
  border-radius: 8px;
  width: 30%;
  height: 400px;
  gap: 50px;
}

.img1:nth-child(1),
.img3:nth-child(3) {
  transform: translateY(-150px);
  margin-top: -80px;
}

.card-poster img {
  opacity: 0;
  transition: opacity 3s ease, transform 3s ease;
  border-radius: 8px;
  height: 400px;
  object-fit: cover;

}

.col {
  position: sticky;
  top: 0;
  width: 30%;
  border-left: 1px solid black;
  padding: 15px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.col-1 {
  border-left: none;
}

.col-2 {
  margin-top: 15vh;
}

.col-3 {
  margin-top: 30vh;
}

.col img {
  max-height: 500px;
  margin: 15px 0px;
}

.col p:first-child {
  font-size: 46px;
  margin-bottom: 15px;
  text-align: center;
}

.step-action-weigh {
  text-align: center;
  font-size: 10px;
  margin-top: -50px;
}

.step-action-take-away {
  text-align: center;
  margin-top: -50px;
}

.step-action-choose {
  margin-top: -50px;
}

.newsletter-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.newsletter-left-section h6 {
  font-size: 65px;
  margin-left: 90px;
  margin-top: 5px;
  margin-bottom: 0;
}

.newsletter-left-section p {
  margin-top: 20px;
  margin-left: 90px;
  font-size: 25px;
  line-height: 1.5;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  font-size: 24px;
  margin-left: 90px;
  line-height: 3;
  font-family: Baloo2;
}

.block {
  display: flex;
  gap: 100px;
}

.mascot-concept {
  height: 25vw;
  background-color: #EEEEDD;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
  animation: balance 3s ease-in-out infinite;
  transform-origin: bottom center;
  order: 2;
}

@keyframes balance {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}





.card-poster img {
  opacity: 0;
  transition: opacity 3s ease, transform 3s ease;
  border-radius: 8px;
}

.card-poster img.visible {
  opacity: 1;
}

.newsletter-right-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
  margin-top: 20px;
  margin-right: 90px;

}

input[type="email"] {
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  width: 450px;
  font-family: Baloo2;
}

button {
  width: 120px;
  height: 48px;
  font-size: 20px;
  background-color: #EEEEDD;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  font-family: Baloo2;
  font-weight: 500;
  padding: 0;
}

button:hover {
  background-color: #AF4C2D;
}

footer {
  background-color: #141410;
  color: #EEEEDD;
}

.newsletter-section {
  padding: 30px 0px;
  width: 100%;
  box-sizing: border-box;
}

.social-icons {
  display: flex;
  justify-content: center;
  color: #EEEEDD;
  gap: 5%;
  font-size: 48px;
}

.social-icons a {
  color: #EEEEDD;
  text-decoration: none;
}

.social-icons :hover {
  opacity: 90%;
}

.mascotte-footer {
  height: 26vw;
}

.fa-facebook-f,
.fa-tiktok {
  font-size: 43px;
}

.separator {
  margin: 30px 0px 7px 10;
  border: 0.5px solid white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

.footer-links {
  display: flex;
  gap: 150px;

}



.footer-links ul li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-links ul li:hover {
  text-decoration: underline;
}

.bottom-line {
  border: 0.5px solid white;
  margin-top: -50px;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: #EEEEDD;
  margin-top: 20px;
}


.brands {
  overflow: hidden;
  position: relative;
  margin-bottom: 6rem;
}

.marque-content {
  display: flex;
  animation: scroll 30s linear infinite;
  margin-top: 100px;
  margin-bottom: 100px;
}

.marque-content img {
  height: 100px;
  margin: 0 4rem;
  filter: grayscale(100%) brightness(1.2);
  transition: transform 0.3s ease;
}

.marque-content img:hover {
  transform: scale(1.1);
  filter: grayscale(0%) brightness(1.5);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.language-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
}

.language-list {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 100;
  min-width: 100px;
  right: 0;
  border-radius: 8px;
  overflow: hidden;
}

.language-list a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
}

.language-list a:hover {
  background-color: #AF4C2D;
  border-radius: 8px;
}

.language-dropdown:hover .language-list {
  display: block;
}

.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80%;
  max-width: 350px;
  height: 100vh;
  background-color: #EEEEDD;
  z-index: 20;
  padding: 40px 30px;
  box-sizing: border-box;
  transition: left 0.3s ease-in-out;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.mobile-menu-overlay.active {
  left: 0;
}

.mobile-menu-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
}

.close-menu {
  background: none;
  border: none;
  font-size: 40px;
  color: #AF4C2D;
  cursor: pointer;
  padding: 0;
  width: auto;
  height: auto;
}

.close-menu:hover {
  transform: scale(1.1);
  background: none !important;
}

.mobile-menu-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav a {
  color: #AF4C2D;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  font-family: Baloo2;
  text-transform: uppercase;
  padding: 0;
  border: none;
  background: none;
}

.mobile-menu-footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 480px) {

  body {
    overflow-x: hidden;
  }

  p,
  li {
    word-wrap: break-word;
    hyphens: auto;
  }

  .hero-section {
    height: 100vh;
    padding: 20px;
  }

  .hero-section img {
    width: 95%;
    max-width: 320px;
    top: 0;
  }

  .animated-logo {
    width: 80px;
    top: 10px;
    left: 10px;
  }

  .navbar {
    margin: 30px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .menu-burger {
    display: flex;
    order: 1;
    cursor: pointer;
  }

  .navbar-left {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  .logo {
    height: 20px;
  }

  .navbar-center {
    display: none;
  }

  .language-dropdown {
    order: 3;
    margin-left: auto;
    font-family: fredoka;

  }

  .language-dropdown {
    position: relative;
  }

  .language-list {
    right: 0;
    left: auto;
    min-width: 120px;
  }

  .fa-globe {
    padding: 8px;
    font-size: 1rem;
  }


  #concept {
    margin: 30px;
    padding: 30px;
  }

  #concept h1 {
    font-size: 32px;
    line-height: 1.1;
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 50px;
  }

  #concept h2 {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    white-space: nowrap;
  }

  #concept p {
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
    margin-bottom: -40px;
  }

  #concept p br {
    display: none;
  }

  .block {
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .texte-block {
    order: 1;
    text-align: center;
    width: 100%;
  }

  .mascot-concept {
    height: 300px;
    width: 250px;
    order: 2;
    margin: 0;
    flex-shrink: 0;
  }

  h3,
  h4,
  h5 {
    font-size: 32px;
    margin-left: 30px;
    text-align: left;
    margin-right: 30px;
  }


  #how-it-works-section {
    margin: 30px 0;
  }

  .steps-container {
    flex-direction: column;
    gap: 40px;
    padding: 0 15px;
  }

  .col {
    width: 100%;
    border-left: none;
    padding: 20px 0;
    height: auto;
    position: static;
    margin-top: 0 !important;
    text-align: center;
  }

  .col:first-child {
    border-top: none;
  }

  .col p:first-child {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
  }

  .col img {
    max-height: 500px;
    width: auto;
    margin: 10px 0;
  }

  .col p:last-child {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
  }

  .step-action-weigh,
  .step-action-take-away,
  .step-action-choose {
    font-size: 30px !important;
    margin-top: 10px !important;
    text-align: center;
  }


  #poster {
    margin: 30px 0;
    margin-top: 120px;
  }

  .cards-container {
    padding: 30px 15px;
    flex-direction: column;
    gap: 20px;
  }

  .card-poster {
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 30px;
    align-items: center;
    margin-bottom: -100px;
  }


  .img1 {
    transform: none !important;
    margin-top: 90 !important;
  }

  .card-poster img {
    width: 100%;
    max-width: 250px;
    height: auto !important;
    transform: none !important;
  }

  .img3 {
    transform: none !important;
    margin-top: 0 !important;
  }

  .brands {
    margin-bottom: 3rem;
  }

  .marque-content {
    margin: 50px 0;
  }

  .marque-content img {
    height: 80px;
    margin: 0 1rem;
    margin-bottom: 100px;
  }

  h5 {
    margin-top: 120px;
    margin-bottom: 150px;
  }


  .newsletter-section {
    padding: 30px 0px;
  }

  .newsletter-content {
    flex-direction: column;
    gap: 30px;
  }

  .newsletter-left-section {
    width: 100%;
  }

  .newsletter-left-section h6 {
    font-size: 32px;
    margin-left: 30px !important;
    margin-right: 30px;
    text-align: left;
    line-height: 1.2;
    margin-top: 5px;
    margin-bottom: 0;
    white-space: nowrap;
  }

  .newsletter-left-section p {
    font-size: 18px;
    margin-left: 30px !important;
    margin-right: 30px;
    text-align: left;
    line-height: 1.4;
  }

  .newsletter-left-section p br {
    display: none;
  }

  .newsletter-right-section {
    width: 100%;
    align-items: flex-start;
    margin-left: 30px !important;
    margin-right: 30px;
    margin-top: 0;
  }

  input[type="email"] {
    width: 100%;
    max-width: 300px;
    height: 20px;
    font-size: 12px;
    padding: 12px 15px;
    align-self: flex-start;
  }

  button {
    width: 100px;
    height: 35px;
    font-size: 12px;
    align-self: flex-start;
  }


  .social-icons {
    font-size: 46px;
    gap: 8%;
    margin: 20px 0;
  }

  .fa-facebook-f,
  .fa-tiktok {
    font-size: 40px;
  }

  .footer-content {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .footer-links {
    gap: 30px;
    width: 100%;
  }

  .footer-links ul {
    font-size: 16px;
    line-height: 2;
    text-align: left;
    margin-left: 30px !important;
    margin-right: 30px;
  }

  .mascotte-footer {
    height: 300px;
    width: auto;
  }

  .copyright {
    font-size: 12px;
    margin-top: 20px;
    padding: 0 15px;
    text-align: center;
  }

  .separator {
    margin: 20px 0;
  }
}